<style>
  .s-button{
    min-width: 100px;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 15px;
    background-color: royalblue;
    color: whitesmoke;
    cursor: pointer;
    border: 1px outset black;
    margin: 1px;
  }
  .s-button:active{
    background-color: #a7b9f1;
    border: 2px inset black; 
    margin: 0;
  }
  .s-button:disabled{
    color: snow;
    background: silver;
    pointer-events: none;
  }
  .s-button[danger]{
    background-color: tomato;
    color: black;
  }
</style>
